@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");
@import url("./CustomButtons.css");
@import url("./CustomLinks.css");
@import url("./GradientText.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-main-color: #5f2eea;
  --primary-dark-color: #2a00a2;
  --title-color: #14142b;
  --body-color: #4e4b66;
  --line-color: #d9dbe9;
  --link-color: #716c8d;
  --background-color: #f7f7fc;
  --white-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:focus-within {
  outline-offset: 8px;
}
